go 1.25.5

use (
	./cmd/consignment-cli
	./cmd/consignment-service
	./cmd/email-service
	./cmd/gateway
	./cmd/payment-service
	./cmd/reservation-service
	./cmd/user-cli
	./cmd/user-service
	./cmd/vessel-service
	./pkg/kafka
	./proto
)
